@{
    ViewBag.Title = "Podil";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Podil</h1>
        @if (Request.IsAuthenticated)
        {
            <p class="lead">Share your life moments with Family and Friends. </p>
            <p class="lead">
                @Html.ActionLink("Your Photos", "Index", "Photos",
                    routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-lg btn-success" })
            </p>
        }
        else
        {
            <p class="lead">Share your life moments with Family and Friends. Register and start uploading your photos.</p>
            <p class="lead">
                @Html.ActionLink("Sign up today", "Register", "Account",
                    routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-lg btn-primary my-2" })
                <a href="#" class="btn btn-lg btn-info my-2">Learn More</a>
            </p>
        }
    </div>
</section>
